.about {
    .aboutSection {
        // display: grid;
        // grid-template-columns: 1fr 2fr;
        // gap: 40px;
        display: flex;

        // div {
        //     border: 1px solid crimson;
        // }

        p {
            line-height: 1.6;
            text-align: justify;
            padding-bottom: 20px;

            margin-left: 40px;
        }
    }
}