.about {
    .aboutSection {
        display: flex;
        gap: 50px;

        .profile {
            width: 70%;

            img {
                border: 5px solid $inactiveTextColour;
                border-radius: 5px;
            }
        }

        p {
            position: relative;
            top: -5px;
            line-height: 1.6;
            padding-bottom: 20px;
        }

        a {
            display: inline-block;
            border: 1px solid $primaryTextColour;
            margin-top: 10px;
            padding: 5px 10px;

            &:hover, &:active, &:focus {
                @include hover;
            }
        }
    }
}