body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: $primaryFontFamily;
    color: $primaryTextColour;
    background-color: $backgroundColour;
    font-size: 2rem;
}

img {
    max-width: 100%;
}

.wrapper {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
    // border: 1px solid brown;
}

h2 {
    text-transform: uppercase;
    padding-bottom: 20px;
    @include blink;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $primaryTextColour;
}

header, section {
    border-bottom: 5px solid $primaryTextColour;
}

section {
    padding: 50px 0;
}

.typed-cursor {
    display: none;
}

footer {
    font-size: 1.6rem;
    letter-spacing: 1px;
    text-align: center;
    padding: 10px 0;
}

@keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: $primaryTextColour;
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}