// check default margin / padding
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: $backgroundColour;
    color: $primaryTextColour;
    font-size: 2rem;
}

img {
    max-width: 100%;
    // height: 100%;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.wrapper {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
}

i {
    font-size: 6rem;
}

.iconify {
    font-size: 7rem;
}