body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: $primaryFontFamily;
    color: $primaryTextColour;
    background-color: $backgroundColour;
    font-size: 2rem;
}

img {
    max-width: 100%;
    // height: auto;
}

.wrapper {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
    // border: 1px solid wheat;
}

h2 {
    // text-align: center;
    padding-bottom: 20px;
    @include blink;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $primaryTextColour;
}

header, section {
    border-bottom: 1px solid white;
}

section {
    padding: 50px 0;
}

// i {
//     font-size: 6rem;
// }

// .iconify {
//     font-size: 7rem;
// }

.typed-cursor {
    display: none;
}

footer {
    font-size: 1.6rem;
    text-align: center;
    padding: 10px 0;
}

@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: $primaryTextColour;
  }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}