header {
    min-height: 100vh;

    .cursor {
        position: absolute;
        left: -5%;
        height: 2px;
        width: 2px;
        border-radius: 50%;
        background-color: $primaryTextColour;
    }

    ul {
        // border: 1px solid brown;
        display: flex;
        justify-content: flex-end;
        text-transform: uppercase;
        position: fixed;
        width: 90%;
        z-index: 2;
        background-color: $backgroundColour;
        border-bottom: 5px solid $primaryTextColour;
        padding: 20px 0;

        li {
            margin-right: 50px;

            a {
                color: $inactiveTextColour;
                position: relative;

                &:hover, &:active, &:focus {
                    color: $primaryTextColour;
                    @include blink;
                }
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .heading {
        // border: 1px solid brown;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        line-height: 1.6;
        letter-spacing: 1.5px;

        h1 {
            position: relative;
            @include blink;
        }

        h1 + p {
            height: 0;
        }
    }

    .fa-mouse {
        // border: 1px solid brown;
        font-size: 4rem;
        color: $primaryTextColour;
        text-align: center;
        position: absolute;
        bottom: 50px;
        width: 90%;
        animation: bounce 2s ease infinite;
    }
}