header {
    min-height: 100vh;

    .cursor {
        position: absolute;
        height: 2px;
        width: 2px;
        border-radius: 50%;
        background-color: $primaryTextColour;
    }

    ul {
        display: flex;
        justify-content: flex-end;
        gap: 50px;
        text-transform: uppercase;
        position: fixed;
        width: 90%;
        z-index: 2;
        background-color: $backgroundColour;
        border-bottom: 5px solid $primaryTextColour;
        padding: 20px 0;

        a {
            color: $inactiveTextColour;
            position: relative;

            &:hover, &:active, &:focus {
                color: $primaryTextColour;
                @include blink;
            }
        }
    }

    .heading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 80%;
        letter-spacing: 0.15rem;
        line-height: 1.6;

        h1 {
            position: relative;
            @include blink;

            & + p {
                height: 0;
            }
        }
    }

    .mouse {
        position: absolute;
        bottom: 50px;
        display: flex;
        justify-content: center;
        width: 90%;

        .fa-mouse {
            font-size: 4rem;
            animation: bounce 2s ease infinite;
        }
    }
}