// @media (max-width: 1160px) {
    // .about {
    //     .aboutSection {
    //         flex-direction: column;

    //         .profile {
    //             width: 60%;
    //             margin: 0 auto 20px;
    //         }

    //         p {
    //             margin-left: 0;
    //         }
    //     }
    // }
    // .social {
    //     form {
    //         width: 120%;
    //     }
    // }
// }

@media (max-width: 775px) {
    header {
        ul {
            justify-content: center;
        }
    }

    h2 {
        text-align: center;
    }

    .blog {
        .post {
            margin: 0 auto;
        }
    }

    .social {
        flex-direction: column;

        form {
            width: 100%;
            margin-bottom: 50px;
        }

        form + div {
            padding-left: 0;

            .left {
                display: none;
            }

            .top {
                display: unset;
            }
        }
    }
}

@media (max-width: 740px) {
    .projects {
        padding-bottom: 0;

        .project {
            grid-template-columns: 100%;

            .description {
                border-left: none;
                border-top: 1px solid $primaryTextColour;
                padding-left: 0;
            }
        }
    }
}

@media (max-width: 625px) {
    header {
        ul {
            li {
                margin-right: 30px;
                margin-bottom: 10px;
            }
        }
    }
}

@media (max-width: 535px) {
    .skills {
        .icons {
            justify-content: center;
        }
    }

    .social {
        form + div {
            div {
                display: flex;
                justify-content: center;
            }
        }
    }

    footer {
        span {
            display: block;
            margin-top: 5px;
        }
    }
}

@media (max-width: 450px) {
    .projects {
        .project {
            .description {
                a {
                    display: block;
                    width: 60%;
                    margin: 0 auto;

                    &:nth-of-type(1), &:nth-of-type(2) {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }

    .about {
        .aboutSection {
            p {
                text-align: left;
            }
        }
    }

    .blog {
        .post {
            max-width: 290px;
        }
    }
}

@media (max-width: 350px) {
    .heading {
        h1 {
            line-height: 1.15;
            margin-bottom: 10px;
        }
    }
}