//== VARIABLES ==//
$primaryFontFamily: 'Roboto', sans-serif;
// $secondaryFontFamily: 'Roboto Mono', monospace;
$backgroundColour: #212121;
$primaryTextColour: #fafafa;
$inactiveTextColour: #ababab;

// $backgroundColour: #030200;
// $iconHoverColour: #f26b38;

//== MIXINS ==//
@mixin blink {
    &::after {
        content: "_";
        position: absolute;
        animation: blink 1s ease infinite;
    }
}