//----VARIABLES----//
$primaryFontFamily: 'Roboto', sans-serif;
$backgroundColour: #212121;
$primaryTextColour: #fafafa;
$inactiveTextColour: #ababab;

//----FUNCTION----//
$backgroundColourDark: darken($backgroundColour, 50);

//----MIXIN----//
@mixin blink {
    &::after {
        content: "_";
        position: absolute;
        animation: blink 1s ease infinite;
    }
}