//----VARIABLES----//
$primaryFontFamily: 'Roboto', sans-serif;
$backgroundColour: #212121;
$primaryTextColour: #fafafa;
$inactiveTextColour: #ababab;

//----MIXINS----//
@mixin blink {
    &::after {
        content: "_";
        position: absolute;
        animation: blink 1s ease infinite;
    }
}

@mixin hover {
    background-color: $primaryTextColour;
    color: $backgroundColour;
    transition: all 0.3s;
}