.projects {
    .project {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 20px;
        border-bottom: 1px solid $primaryTextColour;

        // div {
        //     border: 1px solid brown;
        // }

        img {
            padding-top: 20px;
        }
        
        .description {
            border-left: 1px solid $primaryTextColour;
            padding: 20px 0 40px 20px;

            h3 {
                text-transform: uppercase;
                padding-bottom: 15px;
            }

            p {
                line-height: 1.5;
                padding-bottom: 20px;

                &:nth-of-type(2) {
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    padding-bottom: 30px;
                }
            }

            a {
                border: 1px solid $primaryTextColour;
                background-color: transparent;
                color: $primaryTextColour;
                text-align: center;
                padding: 5px 10px;
                margin-right: 10px;

                &:hover, &:active, &:focus {
                    background-color: $primaryTextColour;
                    color: $backgroundColour;
                }
            }
        }
    }

    .projectFour {
        border-bottom: none;
    }
}