.skills {
    .icons {
        display: grid;
        grid-template-columns: repeat(7, 120px);
        grid-template-rows: repeat(2, 120px);
        justify-content: center;
        align-content: center;
        column-gap: 60px;
        row-gap: 40px;

        li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            //check general styles
            i, .iconify {
                padding-bottom: 10px;

                &:hover, &:active, &:focus {
                    color: $iconHoverColour;
                    transform: scale(1.1);

                    path {
                        transform: translateY(-1px) scale(1.1);
                    }
                }
            }

            .fa-terminal {
                animation: blink 1s ease infinite;

                &:hover, &:active, &:focus {
                    animation: none;
                }
            }
        }
    }
}