.skills {
    .icons {
        display: grid;
        grid-template-columns: repeat(auto-fill, 120px);
        grid-template-rows: repeat(auto-fill, 120px);
        justify-content: space-between;
        align-content: center;
        gap: 40px 60px;

        li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            i, .iconify {
                padding-bottom: 10px;

                &:hover, &:active, &:focus {
                    transform: scale(1.1);

                    path {
                        transform: translateY(-1px) scale(1.1);
                    }
                }
            }

            i {
                font-size: 6rem;
            }

            .iconify {
                font-size: 7rem;
            }

            .fa-terminal {
                animation: blink 1s ease infinite;

                &:hover, &:active, &:focus {
                    animation: none;
                }
            }
        }
    }
}